body {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

.new__bg {
    height: 100vh;
    min-height: 500px;
    background: linear-gradient(
            217deg,
            rgba(255, 159, 237),
            rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(118, 164, 255), rgba(0, 255, 0, 0) 65%),
    linear-gradient(336deg, rgba(255, 191, 138), rgba(0, 0, 255, 0) 70.71%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hello__div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.hello__svg {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 48px;
    stroke-dasharray: 5800px;
    stroke-dashoffset: 5800px;
    animation: anim__hello linear 5s forwards;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

@keyframes anim__hello {
    0% {
        stroke-dashoffset: 5800;
    }
    25% {
        stroke-dashoffset: 5800;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

.project__info {
    text-align: center;
    color: white;
    margin-top: 20px;
}

#teamMembers {
    list-style-type: none;
    padding: 0;
}

#teamMembers li {
    margin: 5px 0;
}