<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} DEVHUV {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
<header>
    <div class="container1">
        <h1 class="site-title">DEVHUV</h1>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/tools">Tools</a></li>
                <li><a href="/savefiles">Save Files</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>
{% block content %}{% endblock %}
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
