<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} DEVHUV {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<header>
    <div class="container1">
        <h1 class="site-title">DEVHUV</h1>
        <nav class="navbar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/group">Projects</a></li>
                <li><a href="/tools">Tools</a></li>
                <li><a href="/savefiles">Save Files</a></li>
                <li id="login-nav-item"><a id="login-link" class="nav-link"></a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container2">
    <div id="slide">
        <!-- 여기에서 동적으로 프로젝트 아이템이 추가될 것입니다. -->
    </div>
    <div class="buttons">
        <button id="prev"><i class="fas fa-chevron-left"></i></button>
        <button id="next"><i class="fas fa-chevron-right"></i></button>
    </div>
</div>
{% block content %}{% endblock %}
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<script src="{{ url_for('static', filename='js/files.js') }}"></script>
</body>
</html>
