<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Person Project</title>
    <link href="/css/personal_project/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>

<div id="progress"></div>
<div class="center">
    <div id="register">
        <i id="progressButton" class="ion-android-arrow-forward next"></i>
        <div class="inputContainer" id="inputContainer">
            <input id="inputField" required autofocus />
            <div id="inputProgress"></div>
        </div>
    </div>
</div>

<script src="/js/personal_project/script.js"></script>
</body>
</html>
