:root {
    --primary: #000000;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --body-bg-color: #181717;
    --white-color: #ffffff;
    --primary-color: #E07A5F;
    --secondary-color: #F2CC8F;
    --section-bg-color: #f0f8ff;
    --custom-btn-bg-color: #E07A5F;
    --custom-btn-bg-hover-color: #F2CC8F;
    --dark-color: #000000;
    --p-color: #717275;
    --link-hover-color: #F2CC8F;
    --body-font-family: 'Poppins', sans-serif;
    --heading-font-family: 'Unbounded', sans-serif;
    --h1-font-size: 62px;
    --h2-font-size: 36px;
    --h3-font-size: 28px;
    --h4-font-size: 24px;
    --h5-font-size: 22px;
    --h6-font-size: 20px;
    --p-font-size: 18px;
    --menu-font-size: 16px;
    --btn-font-size: 14px;
    --border-radius-large: 100px;
    --border-radius-medium: 20px;
    --border-radius-small: 10px;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--body-bg-color);
    font-family: var(--body-font-family);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: var(--font-weight-medium);
    letter-spacing: -1px;
}

h1 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--h2-font-size);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    font-size: var(--h6-font-size);
}

p, ul li {
    color: var(--p-color) ;
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-normal);
}

a, button {
    touch-action: manipulation;
    transition: all 0.3s;
}

a {
    display: inline-block;
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    color: var(--white-color);
    font-size: var(--p-font-size);
}

a:hover {
    color: var(--link-hover-color);
}

b, strong {
    font-weight: var(--font-weight-bold);
}

::selection, ::-moz-selection {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.page-404-title {
    color: var(--primary-color);
    font-size: 100px;
}

.page-404-title + h3 {
    color: var(--secondary-color);
}

.site-header {
    position: absolute;
    z-index: 22;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.site-header .container {
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: var(--border-radius-large);
    padding: 15px 25px;
    max-height: 70px;
}

.site-header-text {
    color: var(--white-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-bold);
}

.site-header-text span {
    margin-left: 10px;
}

.site-header .social-icon {
    max-height: 35px;
    color: var(--white-color);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-bold);
}

.offcanvas {
    background-color: rgba(0, 0, 0, 0.85);
    padding: 30px;
}

.offcanvas.offcanvas-end {
    border-left: 0;
}

.offcanvas-header .btn-close {
    filter: brightness(0) invert(1);
    transition: all 0.3s;
}

.offcanvas-header .btn-close:hover {
    transform: rotate(180deg);
}

.offcanvas-icon {
    font-size: var(--h3-font-size);
    color: var(--white-color);
    margin-left: 15px;
}

.offcanvas nav ul {
    margin: 0;
    padding: 0;
}

.offcanvas nav ul li {
    list-style: none;
    display: block;
}

.offcanvas nav ul li a {
    color: var(--white-color);
    font-family: var(--heading-font-family);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-medium);
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.offcanvas nav ul li a.active, .offcanvas nav ul li a:hover {
    color: var(--link-hover-color);
}

.hero-section {
    position: relative;
    overflow: hidden;
    height: 100vh;
    min-height: 675px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hero-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-bg::after {
    content: "";
    background: linear-gradient(to top, var(--dark-color), transparent 200%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.hero-bg .container {
    position: relative;
    z-index: 2;
}

.hero-section small {
    color: var(--primary-color);
    display: block;
    font-size: var(--btn-font-size);
    font-style: italic;
    position: relative;
    padding-left: 75px;
}

.hero-section small::before {
    content: "";
    background-color: var(--white-color);
    width: 50px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 35px;
    transform: translate(-50%, 0);
}

.video-wrap {
    z-index: -100;
}

.custom-video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.hero-title {
    color: var(--white-color);
}

.countdown {
    padding-left: 0;
}

.countdown-title {
    color: var(--white-color);
}

.countdown-item {
    list-style: none;
    flex: 0 0 13%;
    margin: 15px;
}

.countdown-text {
    color: var(--section-bg-color);
    font-size: var(--p-font-size);
    font-style: italic;
}

.modal-content {
    background-color: var(--dark-color);
    border-radius: 0;
    position: relative;
}

.modal-content::after {
    content: "";
    background-color: var(--custom-btn-bg-color);
    border: 50px solid var(--secondary-color);
    border-radius: 100%;
    position: absolute;
    top: -100px;
    right: -120px;
    width: 250px;
    height: 250px;
    pointer-events: none;
}

.modal-body, .modal-footer, .modal-header {
    padding: 30px 40px;
}

.modal-header {
    background-color: var(--dark-color);
    border-radius: 0;
    border-bottom: 0;
    padding: 0;
}

.modal-body h2 {
    color: var(--white-color);
    font-size: var(--h4-font-size);
    position: relative;
    bottom: 30px;
}

.modal-header .btn-close {
    filter: brightness(0) invert(1);
    position: relative;
    z-index: 22;
    top: 20px;
    right: 20px;
    transition: all 0.3s;
}

.modal-header .btn-close:hover {
    transform: rotate(180deg);
}

.modal-body, .modal-footer {
    position: relative;
    z-index: 2;
}

.modal-footer {
    border-top: 0;
    padding-top: 0;
}

.modal-footer p {
    font-size: var(--btn-font-size);
}

.custom-form .form-control {
    border-radius: var(--border-radius-large);
    border-width: 2px;
    box-shadow: none;
    color: black;
    padding: 10px;
    padding-left: 20px;
    outline: none;
    margin: 4px;
}

.custom-form .form-control:focus, .custom-form .form-control:hover {
    border-color: var(--primary-color);
}

.form-check-input:checked {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.form-floating > label {
    padding-left: 20px;
}

.custom-form button[type="submit"] {
    background: var(--custom-btn-bg-color);
    border: none;
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-family: var(--heading-font-family);
    font-size: var(--p-font-size);
    font-weight: var(--font-weight-bold);
    transition: all 0.3s;
    margin-bottom: 0;
    padding-left: 10px;
}

.custom-form button[type="submit"]:focus, .custom-form button[type="submit"]:hover {
    background: var(--custom-btn-bg-hover-color);
    border-color: transparent;
}

.custom-form .form-check-label {
    color: whitesmoke;
}

.contact-form .form-floating > textarea {
    border-radius: var(--border-radius-medium);
    height: 110px;
}

.login-form .custom-btn {
    font-family: var(--heading-font-family);
    padding: 10.25px 35px;
    font-size: var(--p-font-size);
}

.social-icon {
    margin: 0;
    padding: 0;
}

.social-icon-item {
    list-style: none;
    display: inline-block;
    vertical-align: top;
}

.social-icon-link {
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-size: var(--btn-font-size);
    display: block;
    margin-right: 5px;
    text-align: center;
    width: 35px;
    height: 35px;
    line-height: 36px;
    transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
    background: var(--primary-color);
    color: var(--white-color);
}

.nav-link {
    color: var(--white-color);
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    font-size: var(--p-font-size);
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--link-hover-color);
}

.nav-link-message {
    background: url('../images/message.png') no-repeat center center;
    background-size: 35px 35px;
    display: inline-block;
    width: 35px;
    height: 35px;
    padding: 0 32px;
    box-sizing: border-box;
    border-left: none;
    text-align: center;

}


@media screen and (max-width: 1200px) {
    h1 { font-size: 50px; }
    h2 { font-size: 32px; }
    h3 { font-size: 26px; }
    h4 { font-size: 22px; }
    h5 { font-size: 20px; }
    h6 { font-size: 18px; }
}

@media screen and (max-width: 991px) {
    h1 { font-size: 36px; }
    h2 { font-size: 28px; }
    h3 { font-size: 22px; }
    h4 { font-size: 20px; }
    h5 { font-size: 18px; }
    h6 { font-size: 16px; }

    .custom-btn {
        font-size: 12px;
        padding: 5px 15px;
    }

    .site-header .container {
        max-height: none;
        padding: 10px 20px;
    }

    .hero-section {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .page-404-title {
        font-size: 80px;
    }
}

@media screen and (max-width: 768px) {
    h1 { font-size: 32px; }
    h2 { font-size: 24px; }
    h3 { font-size: 20px; }
    h4 { font-size: 18px; }
    h5 { font-size: 16px; }
    h6 { font-size: 14px; }

    .custom-btn {
        font-size: 10px;
        padding: 4px 12px;
    }

    .site-header .container {
        padding: 8px 15px;
    }

    .hero-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .page-404-title {
        font-size: 60px;
    }
}

@media screen and (max-width: 480px) {
    .site-header .social-icon { display: none !important; }
    .offcanvas-icon { margin-left: 10px; }
    .countdown-item { margin: 10px; }
    .hero-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .page-404-title {
        font-size: 40px;
    }
}

/* New Section Styles */
.new-section * {
    box-sizing: border-box;
    font-family: 'Dongle', sans-serif;
    color:#ffffff;
    margin: 0;
    padding: 0;
}

.new-section {
    background: #000000;
    padding: 30px 50px;
    line-height: 1.4;
}

.new-section .btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

.new-section img {
    max-width: 100%;
}

.new-section .wrapper {
    display: grid;
    grid-gap: 20px;
    background-color: #181717;
}

.new-section .top-container {
    display: grid;
    grid-gap: 20px;
    grid-template-areas:
    'showcase showcase top-box-a'
    'showcase showcase top-box-b';
}

.new-section .showcase {
    position: relative;
    grid-area: showcase;
    min-height: 400px;
    background: url('../images/logo_1.jpg');
    background-size: cover;
    background-position: center;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: var(--shadow);
}

.new-section .showcase::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.new-section .showcase h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: white;
    position: relative;
    z-index: 2;
}

.new-section .showcase p {
    font-size: 1.3rem;
    margin-top: 0;
    color: white;
    position: relative;
    z-index: 2;
}

.new-section .top-box {
    background: var(--primary);
    display: grid;
    align-items: center;
    justify-items: center;
    box-shadow: var(--shadow);
    padding: 1.5rem;
}

.new-section .top-box .price {
    font-size: 2.5rem;
}

.new-section .top-box-a {
    grid-area: top-box-a;
    background-image: url("../images/pay.jpg");
    background-size: cover; /* 요소 크기에 맞게 이미지 크기 조정 */
    background-position: center; /* 이미지 중심으로 배치 */
}

.new-section .top-box-b {
    grid-area: top-box-b;
    background-image: url("../images/pay2.jpg");
    background-size: cover; /* 요소 크기에 맞게 이미지 크기 조정 */
    background-position: center; /* 이미지 중심으로 배치 */
}

.new-section .boxes {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.new-section .box {
    position: relative;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: var(--shadow);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--dark);
}

.new-section .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.new-section .box h3, .new-section .box p {
    position: relative;
    z-index: 2;
}

/* 폰트 크기 변경 */
.new-section .box h3 {
    font-size: 2rem;
}

.new-section .box p {
    font-size: 1.2rem;
}

.new-section .box.chart-pie {
    background-image: url('../images/code.png');
}

.new-section .box.globe {
    background-image: url('../images/markting.png');
}

.new-section .box.cog {
    background-image: url('../images/tool.png');
}

.new-section .box.users {
    background-image: url('../images/business-service.png');
}

.new-section .info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}

.new-section .info video {
    width: max-content;
    height: max-content;
}

@media (max-width: 700px) {
    .new-section .top-container {
        grid-template-areas:
      'showcase showcase'
      'top-box-a top-box-b';
    }

    .new-section .showcase h1 {
        font-size: 2.5rem;
    }

    .new-section .main-nav ul {
        grid-template-columns: 1fr;
    }

    .new-section .info {
        grid-template-columns: 1fr;
    }

    .new-section .info .btn {
        display: block;
        text-align: center;
        margin: auto;
    }
}

@media (max-width: 500px) {
    .new-section .top-container {
        grid-template-areas:
      'showcase'
      'top-box-a'
      'top-box-b';
    }
}

.login-btn {
    background: var(--custom-btn-bg-color);
    border: 2px solid transparent;
    border-radius: var(--border-radius-large);
    color: var(--white-color);
    font-size: var(--btn-font-size);
    font-weight: var(--font-weight-bold);
    transition: all 0.3s;
    padding: 6px 18px;
}

.login-btn:hover {
    background: var(--custom-btn-bg-hover-color);
    color: var(--white-color);
}

.register-btn {
    background: #f2cc8f;
    border: 2px solid var(--secondary-color);
    font-family: var(--heading-font-family);
    font-size: 18px;
    font-weight: var(--font-weight-medium);
    transition: all 0.3s;
}

.register-btn:hover {
    background: #5fe09d;
    border-color: transparent;
    color: var(--white-color);
}

.reset-password-btn {
    background: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius-small);
    color: var(--white-color);
    font-size: var(--btn-font-size);
    font-weight: var(--font-weight-bold);
    transition: all 0.3s;
    padding: 6px 18px;
}

.reset-password-btn:hover {
    background: var(--custom-btn-bg-hover-color);
    border-color: var(--custom-btn-bg-hover-color);
    color: var(--white-color);
}
