.email-group {
    display: flex;
    align-items: center;
    position: relative;
}

.email-group .form-control {
    flex: 1;
    height: calc(3.5rem + 2px);
    border-radius: 0.25rem;
}

.email-group .btn {
    margin-left: 10px;
    height: calc(3.5rem + 2px);
    background-color: var(--custom-btn-bg-color);
    color: var(--white-color);
    border-radius: 0.25rem;
}

