<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DEVHUV | Coming Soon Page</title>
    <!-- 구글 폰트: Poppins, Unbounded, Dongle -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200&family=Unbounded:wght@400;700&family=Dongle&display=swap" rel="stylesheet">

    <!-- 부트스트랩 및 기타 스타일 시트 -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-icons.css" rel="stylesheet">
    <link href="/css/devhub.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>

    <!-- SweetAlert2 CSS 및 JS 포함 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
</head>

<body>
<main>
    <header class="site-header">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-12 col-12 d-flex align-items-center">
                    <a class="site-header-text d-flex justify-content-center align-items-center me-auto" href="/">
                        <i class="bi-box"></i>
                        <span class="nav-link">DEVHUV</span>
                    </a>

                    <ul class="nav d-flex justify-content-center align-items-center mx-auto">
                        <li class="nav-item"><a href="login" id="login-link" class="nav-link">로그인</a></li>
                        <li class="nav-item"><button id="lang-switch" class="btn btn-primary nav-link" style="color : white;">영어로 변경</button></li>
                        <li class="nav-item"><a href="loading" class="nav-link">나의 프로젝트</a></li>
                        <li class="nav-item"><a href="http://127.0.0.1:5000/group" class="nav-link" id="project-link">팀의 프로젝트</a></li>
                        <li class="nav-item"><a href="boards" class="nav-link">팀원 구하기</a></li>
                        <li class="nav-item"><a href="#" id="message-box" class="nav-link-message" data-bs-toggle="modal" data-bs-target="#messageModal"></a></li>
                    </ul>

                    <div>
                        <a href="#" id="message-send" class="custom-btn custom-border-btn btn" data-bs-toggle="modal" data-bs-target="#inviteModal"
                           style="color: white; background-color: transparent; border: 1px solid beige; padding: 0.5rem 1rem;text-decoration: none;">
                            초대 하기
                            <i class="bi-arrow-right ms-2"></i>
                        </a>
                    </div>


                    <a class="bi-list offcanvas-icon" data-bs-toggle="offcanvas" href="#offcanvasMenu" role="button" aria-controls="offcanvasMenu"></a>
                </div>
            </div>
        </div>
    </header>

    <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasMenu" aria-labelledby="offcanvasMenuLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close ms-auto" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="offcanvas-body d-flex flex-column justify-content-center align-items-center">
            <nav>
                <ul>
                    <li><a href="login" id="login-side">로그인</a></li>
                    <li class="nav-item"><a href="#" id="log-out" class="nav-link">로그아웃</a></li>
                    <li><a href="register">회원가입</a></li>
                    <li><a href="boards">팀원구하기</a></li>
                    <li><a href="http://192.168.0.4:5000/">나의 프로젝트</a></li>
                    <li><a href="http://127.0.0.1:5000/group">팀의 프로젝트</a></li>
                    <li><a href="#" id="message-box-side" class="nav-link" data-bs-toggle="modal" data-bs-target="#messageModal">쪽지함</a></li>
                    <li><a href="#" id="message-send-side" class="nav-link" data-bs-toggle="modal" data-bs-target="#inviteModal">쪽지 보내기</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <!-- 초대 모달 -->
    <div class="modal fade" id="inviteModal" tabindex="-1" aria-labelledby="inviteModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <form id="inviteForm" class="custom-form mt-lg-4 mt-2" role="form">
                        <h2 class="modal-title" id="inviteModalLabel">초대하기</h2>
                        <input type="email" name="receiverEmail" id="receiverEmail" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="받는 사람의 이메일" required="">
                        <textarea name="inviteUrl" id="inviteUrl" class="form-control mt-3" placeholder="팀 레포지토리 URL" required=""></textarea>
                        <textarea name="messageContent" id="messageContent" class="form-control mt-3" placeholder="메시지 내용" required=""></textarea>
                        <button type="submit" class="form-control mt-3">보내기</button>
                    </form>
                </div>

                <div class="modal-footer justify-content-center">
                    <p>쪽지를 보내시면 수신자가 팀 레포지토리에 접근할 수 있습니다.</p>
                </div>
            </div>
            </div>
        </div>

    <!-- 메시지 확인 모달 -->
    <div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <ul style="list-style: none; padding: 0; margin: 0; display: flex; padding : 2px;">
                        <li style="margin-right: 10px; border: 2px solid #ffffff; padding : 5px; border-radius: 7px;">
                            <a class="nav-link active" id="receivedTab" href="#">받은 쪽지함</a>
                        </li>
                        <li style="margin-right: 10px; border: 2px solid #ffffff; padding : 5px; border-radius: 7px;">
                            <a class="nav-link" id="sentTab" href="#">보낸 쪽지함</a>
                        </li>
                        <li id="message-link" style="font-size: small; color: white; display: flex; align-items: flex-end; height: 35px;"></li>
                    </ul>
                    <ul id="messageList" class="list-group mt-3">
                        <!-- 메시지 항목이 여기에 추가됩니다 -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 mx-auto">
                    <small>Manage Configuration Easily with Us
                        <a rel="nofollow" target="_blank" style ="color:wheat">To Improve Your Project</a>
                    </small>

                    <h1 class="text-white mt-2 mb-4 pb-2">더 쉽게, 더편하게</h1>

                    <ul class="countdown d-flex flex-wrap align-items-center">
                        <li class="countdown-item d-flex flex-column justify-content-center align-items-center">
                            <h2 class="countdown-title months">7</h2>
                            <span class="countdown-text">월</span>
                        </li>
                        <li class="countdown-item d-flex flex-column justify-content-center align-items-center">
                            <h2 class="countdown-title days"></h2>
                            <span class="countdown-text">일</span>
                        </li>
                        <li class="countdown-item d-flex flex-column justify-content-center align-items-center">
                            <h2 class="countdown-title hours"></h2>
                            <span class="countdown-text">시</span>
                        </li>
                        <li class="countdown-item d-flex flex-column justify-content-center align-items-center">
                            <h2 class="countdown-title minutes"></h2>
                            <span class="countdown-text">분</span>
                        </li>
                        <li class="countdown-item d-flex flex-column justify-content-center align-items-center">
                            <h2 class="countdown-title seconds"></h2>
                            <span class="countdown-text">초</span>
                        </li>
                    </ul>
                    <div id="login-container" class="container d-flex justify-content-center">
                        <a href="register" class="button_center me-3" style="margin-right: 20%;">
                            <div class="plate"></div>
                            <div class="plate"></div>
                            <div class="plate"></div>
                            <div class="plate"></div>
                            <div class="button_center__wrapper">
                                <span class="button_center__text">Register</span>
                            </div>
                            <div class="button_center__box">
                                <div class="inner inner__top"></div>
                                <div class="inner inner__front"></div>
                                <div class="inner inner__bottom"></div>
                                <div class="inner inner__back"></div>
                                <div class="inner inner__left"></div>
                                <div class="inner inner__right"></div>
                            </div>
                        </a>
                        <a href="login" class="button_center">
                            <div class="plate"></div>
                            <div class="plate"></div>
                            <div class="plate"></div>
                            <div class="plate"></div>
                            <div class="button_center__wrapper">
                                <span class="button_center__text">Login</span>
                            </div>
                            <div class="button_center__box">
                                <div class="inner inner__top"></div>
                                <div class="inner inner__front"></div>
                                <div class="inner inner__bottom"></div>
                                <div class="inner inner__back"></div>
                                <div class="inner inner__left"></div>
                                <div class="inner inner__right"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="video-wrap">
            <video autoplay="" loop="" muted="" class="custom-video" poster="">
                <source src="videos/video.mp4" type="video/mp4">
            </video>
        </div>
    </section>
    <div class="new-section">
        <div class="wrapper">
            <!-- Top Container -->
            <section class="top-container">
                <header class="showcase">
                    <h1>당신을 위해</h1>
                    <p>어렵고 불편한 형상관리를 도와줍니다</p>
                    <a href="#" class="btn">더 알아보기</a>
                </header>
                <div class="top-box top-box-a">
                    <h4>Plus+</h4>
                    <p class="price">$2/월</p>
                    <a href="" class="btn">구독하기</a>
                </div>
                <div class="top-box top-box-b">
                    <h4>Unlimited</h4>
                    <p class="price">$3/월</p>
                    <a href="https://buy.stripe.com/test_28ocO16tOgwv8nKeUU" class="btn">구독하기</a>
                </div>
            </section>

            <section class="boxes">
                <div class="box chart-pie">
                    <h3>코드 분석</h3>
                    <p>코드 변경 사항을 분석하고 효율성을 높이세요.</p>
                </div>
                <div class="box globe">
                    <h3>마케팅</h3>
                    <p>전 세계에 걸쳐 코드를 공유하고 협업하세요.</p>
                </div>
                <div class="box cog">
                    <h3>개발 지원</h3>
                    <p>효율적인 개발을 위한 도구와 리소스를 제공합니다.</p>
                </div>
                <div class="box users">
                    <h3>지원</h3>
                    <p>필요한 모든 지원을 제공합니다. 언제든지 문의하세요.</p>
                </div>
            </section>

            <!-- Info Section -->
            <section class="info">
                <video src="/videos/info.mp4" autoplay loop muted playsinline class="background-video"></video>
                <div class="content">
                    <h2>웹에서 당신의 비즈니스를</h2>
                    <p>형상관리를 통해 코드 비교, 디렉토리 구조 파악, 코드 리뷰 등 다양한 기능을 제공합니다. 우리의 서비스를 통해 비즈니스의 효율성을 높이고 시간을 절약하세요.</p>
                    <a href="#" class="btn">자세히 알아보기</a>
                </div>
            </section>
        </div>
    </div>

    <!-- Footer will be loaded here -->
    <div id="footer-placeholder"></div>

    <!-- JAVASCRIPT FILES -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/countdown.js"></script>
    <script src="/js/lang-switch.js"></script>
    <script src="/js/tawkto.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/message.js"></script>

</main>
</body>
</html>
