<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Repository List</title>
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700" rel="stylesheet">
    <link href="/css/project_list/style.css" rel="stylesheet">
    <link href="/css/project_list/nav.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->
<nav id="slide-menu">
    <ul>
        <li class="timeline">Timeline</li>
        <li class="events">Events</li>
        <li class="calendar">Calendar</li>
        <li class="sep settings">Settings</li>
        <li class="logout">Logout</li>
    </ul>
</nav>
<!-- Content panel -->
<div id="content">
    <div class="menu-trigger"></div>
</div>
<section class="cards-wrapper">
    <!-- 동적으로 카드가 추가될 영역 -->
</section>
<script src="/js/project_list/script.js"></script>
<script src="/js/project_list/nav.js"></script>
</body>
</html>
