<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Repository List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700" rel="stylesheet">
    <link href="/css/project_list/style.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
<button class="btn btn-primary" id="menu-toggle">메뉴 열기</button>
<nav id="slide-menu">
    <ul>
        <li class="timeline"><a href="personal_project">프로젝트 만들기</a></li>
        <li class="message-send"><a href="#" id="message-send">쪽지 보내기</a></li>
        <li class="message"><a href="#" id="message-box">쪽지함</a></li>
        <li class="sep settings" id="settings">Settings</li>
        <li class="logout" id="logout">Logout</li>
    </ul>
</nav>
<div id="content">
    <div class="menu-trigger"></div>
    <section class="cards-wrapper">
        <!-- 동적으로 카드가 추가될 영역 -->
    </section>
</div>

<!-- 쪽지 보내기 모달 -->
<div id="sendMessageModal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">쪽지 보내기</h5>
                <button type="button" class="close" data-close="sendMessageModal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="inviteForm" class="" role="form">
                    <h2 class="modal-title" id="sendMessage">쪽지 보내기</h2>
                    <input type="email" name="receiverEmail" id="receiverEmail" pattern="[^ @]*@[^ @]*" class="" placeholder="받는 사람의 이메일" required="">
                    <textarea name="messageContent" id="messageContent" class="" placeholder="메시지 내용" required=""></textarea>
                    <button type="submit" class="">보내기</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 메시지 모달 -->
<div id="messageModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">쪽지함</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="nav nav-tabs" style="list-style: none; padding: 0; margin: 0; display: flex; padding : 2px;">
                    <li class="nav-item">
                        <a class="nav-link active" id="receivedTab" href="#">받은 쪽지함</a>
                    </li>
                    <li>&nbsp;&nbsp;/&nbsp;&nbsp;</li>
                    <li class="nav-item">
                        <a class="nav-link" id="sentTab" href="#">보낸 쪽지함</a>
                    </li>
                    <li id="message-link" style="font-size: small; color: white; display: flex; align-items: flex-end; height: 35px;"></li>
                    <input type="hidden" id="message-count"/>
                </ul>
                <ul id="messageList" class="list-group mt-3">
                    <!-- 메시지 항목이 여기에 추가됩니다 -->
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<!-- SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

<script type="module" src="/js/project_list/script.js"></script>
<script src="/js/project_list/nav.js"></script>
<script src="/js/project_list/message.js"></script>

</body>
</html>
